
.form-group {
    margin-bottom: $large-spacing;
}

.label {
    display: block;
    margin-bottom: $small-spacing;
}

.input,
.textarea,
.select {
    width: 100%;
    padding: $small-spacing;
    margin-bottom: $small-spacing;
    border: 1px solid $secondary-color;
    border-radius: $border-radius-base;
}

.button {
    @include button-styles($primary-color);
    margin-top: $small-spacing;
}
